/*
  This stylesheet contains the css classes needed to colorize the line
  labels in the display for Berlin. Bus, Tram, U-Bahn & S-Bahn.
 */

/*
  Bus lines share the same background color and a white text color.
  The border radius is slightly bigger than the font size. This will result
  in nice round corners.
 */

.bus {
  background-color: #981e7b;
  border-radius: 1em;
}

/*
  Some suburban lines share the same settings so they are listed with commas
  separating them.
  The border radius is slightly bigger than the font size. This will result
  in nice round corners.
  Source: https://en.wikipedia.org/wiki/Berlin_S-Bahn#Routes
  */

.s1 {
  background-color: #d96ea2;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s2,
.s25,
.s26 {
  background-color: #127734;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s3 {
  background-color: #0167ad;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s41 {
  background-color: #ad5a37;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s42 {
  background-color: #cb651d;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s45,
.s46,
.s47 {
  background-color: #127734;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s5 {
  background-color: #ea7619;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s7,
.s75 {
  background-color: #816fa5;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s8,
.s85 {
  background-color: #6aaa28;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

.s9 {
  background-color: #992644;
  border-radius: 1.25rem;
  color: white;
  width: 2em;
}

/*
  All subways have a diffrent color code and a white text color, except the U4 have a black text color.
  The width of the line symbol is pulled from the styles.css of MMM-PublicTransportHafas/css.
  It is equal to the font size. This will result in a square symbol.
  Source: https://en.wikipedia.org/wiki/Berlin_U-Bahn#Routes;
 */

.u1 {
  background-color: #80ae50;
}

.u2 {
  background-color: #da4322;
}

.u3 {
  background-color: #127a5c;
}

.u4 {
  background-color: #f0d732;
  color: black;
}

.u5 {
  background-color: #7e522e;
}

.u6 {
  background-color: #8c70ab;
}

.u7 {
  background-color: #528ebb;
}

.u8 {
  background-color: #1d4f86;
}

.u9 {
  background-color: #f17b25;
}

/*
  All tram lines have a diffrent color code and a white text color. 
  The width of the line symbol is pulled from the styles.css of MMM-PublicTransportHafas/css. 
  It is equal to the font size. This will result in a square symbol.
  Source: https://de.wikipedia.org/wiki/Stra%C3%9Fenbahn_Berlin#Linien%C3%BCbersicht;
 */

.strm1 {
  background-color: #78b7e4;
}

.strm2 {
  background-color: #88b744;
}

.strm4 {
  background-color: #ba2d23;
}

.strm5 {
  background-color: #bf8c4a;
}

.strm6 {
  background-color: #235690;
}

.strm8 {
  background-color: #de792e;
}

.strm10 {
  background-color: #357943;
}

.strm13 {
  background-color: #479e92;
  color: white;
}

.strm17 {
  background-color: #9b4932;
}

.str12 {
  background-color: #8471a7;
}

.str16 {
  background-color: #377da7;
}

.str18 {
  background-color: #377da7;
}

.str21 {
  background-color: #b693be;
}

.str27 {
  background-color: #bf6b31;
}

.str37 {
  background-color: #9c4b35;
}

.str50 {
  background-color: #df9537;
}

.str60 {
  background-color: #449ad4;
}

.str61 {
  background-color: #d12f26;
}

.str62 {
  background-color: #205030;
}

.str63 {
  background-color: #df7a2e;
}

.str67 {
  background-color: #cf73a4;
}

.str68 {
  background-color: #79b245;
}
