/* Default properties for subways 
** Unlike in other cities, subways in Stuttgart are
** classified as light rail (Stadtbahn, stb).
*/
[class^="mmm-pth-sign stb stbu"] {
  background-color: rgb(0 101 173);
  color: white;
}
