/*
All classes used by this module use the prefix "pth" (PublicTransportHafas) to separate
them from the rest of the interface.
 */

.pthWrapper {
  position: relative;
}

.pthTable {
  border-collapse: collapse;
  border-spacing: 1px;
  display: table;
}

.pthTable > thead {
  text-align: left;
}

.pthTable td {
  vertical-align: middle;
}

.pthTimeCell {
  text-align: left;
}

.pthCanceled {
  text-decoration: line-through;
}

.pthDirectionCell {
  max-width: 24ch;
  min-width: 16ch;
  overflow: hidden;
  padding-left: 1ch;
  padding-right: 1ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pthPlatformCell {
  padding-left: 1ch;
  padding-right: 1ch;
}

.pthRulerCell {
  border-bottom: 1px dotted #666;
  border-spacing: 10px;
  line-height: 0;
}

.pthTextLeft {
  text-align: left;
}

.pthTextRight {
  text-align: right;
}

.pthTextCenter {
  text-align: center;
}

.pthDelay {
  font-size: 0.8em;
  font-weight: bolder;
}

.pthHasDelay {
  color: red;
}

.pthIsTooEarly {
  color: green;
}

/* Marquee for the destination field */
.pthMarquee {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.pthMarquee span {
  animation: pthMarquee 3s linear infinite alternate;
  display: inline-block;
  white-space: nowrap;
}

@keyframes pthMarquee {
  /* Two keyframe positions each to generate a little delay between animations. */
  0%, 30% {
    transform: translate(0%, 0);
  }
  95%, 100% {
    transform: translate(-35%, 0);
  }
}

/* Marquee for the warinig remarks field */
.pthWarningRemarks {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  width: 80ch;
  display: inline-block;
}

.pthWarningRemarks span {
  animation: pthWarningRemarks 300s linear infinite;
  display: inline-block;
  padding-left: 20%;
}

@keyframes pthWarningRemarks {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* Styles for line symbols. */
.pthSign {
  background-color: #333333;
  color: #666666;
  min-width: 2.5ch;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.2rem auto;
  padding: 0 0.3rem;
  position: relative;
  text-align: center;
}

.pthBWLineSign {
  background-color: #333333;
  color: #666666;
  margin-right: 0.3em;
}

/* Default properties for Deutsche Bahn products. */
.pthDbStandard {
  border-radius: 0.25rem;
  font-size: 0.8em;
}

.ice, .ic {
  background-color: white;
  border-bottom: 4px #F01414 solid;
  color: #F01414;
}

.rb, .re {
  background-color: rgb(31, 131, 50);
  border: 0.5px white solid;
  color: white;
}

.s {
  background-color: rgb(0, 111, 53);
  border: 0.5px white solid;
  color: white;
  width: max-content;
}

/* Default properties for busses (general) and obusses (SVV) */
.bus, .obus {
  border-radius: 1em;
  background-color: rgb(122, 32, 106);
  color: white;
  width: max-content;
}

/* Default properties for "Rufbusse" */
.ruf:before {
  content: "☎ ";
  color: white;
  font-size: 0.8em;
}
.ruf {
  border-radius: 1rem;
  background-color: rgb(122, 32, 106);
  color: white;
  width: max-content;
}

/* Default properties for trams */
.str, .stb {
  background-color: rgb(255, 0, 0);
  color: white;
  width: max-content;
}

/* Default properties for subways */
.u {
  background-color: rgb(0, 101, 173);
  color: white;
  width: max-content;
}

.iceWithProductName:before {
  content: "ICE ";
}

.icWithProductName:before {
  content: "IC ";
}

.reWithProductName:before {
  content: "RE ";
}

.rbWithProductName:before {
  content: "RB ";
}

.sWithProductName:before {
  content: "S";
}

.uWithProductName:before {
  content: "U";
}
